<div id="hhmm"> </div>
<div class="cabecera_divEnlacesHorizontales">
    <ul class="cabecera_divEnlacesHorizontales_ul">

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[home]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/products" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[products]</p>
            </a>
        </li>

        <!--<li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/api/products/todos" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[products DB]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="http://localhost:8080/productsdb" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[products DB Handlebars]</p>
            </a>
        </li> -->

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/realtimeproducts" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[realtimeproducts]</p>
            </a>
        </li>

        <!--<li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/api/realtimeproducts/todos" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[realtimeproducts DB]</p>
            </a>
        </li>

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/realtimeproducts" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[realtimeproducts DB Handlebars]</p>
            </a>
        </li>-->

        <li class="cabecera_divEnlacesHorizontales_ul_li">
            <a href="/carts" class="cabecera_Enlaces_img_a" target="_self">
                <p class="cabecera_Enlaces_img_p">[Ver Carrito]</p>
            </a>
        </li>

    </ul>
</div>